# --- Logs e Diagnósticos ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- Dependências (Pesado - Nunca suba isso) ---
node_modules
.pnp
.pnp.js

# --- Arquivos de Build/Produção (Gerados automaticamente) ---
dist
dist-ssr
build
coverage

# --- Segurança e Variáveis de Ambiente (CRÍTICO) ---
# Bloqueia qualquer arquivo de configuração local com senhas
.env
.env.test
.env.production
*.local

# --- Arquivos de Sistema e Editor ---
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?